@charset "UTF-8";

#logobutton {
	width: 80px;
	height: 80px;
}

.genre {
	width: 100px;
	height: 30px;
}

#searchtext {
	width:300px;
	height:25px;
}

.searchbutton {
	width: 50px;
	height: 25px;
}

input[type=text] {
	width: 100px;
	height: 30px;
	font-size: 20px;
}

.footer {
	/*background-color: #ffaaaa; */
	margin-left: 500px;
	position: absolute;
	left: 0;
	bottom: 0px;
}