@charset "UTF-8";

body {
	
	margin: 0px auto;
	padding: -2px;
	text-align: center;
	background-color: #ffbbbb;

}

.wrapper{
	
	margin: 0px auto;
	padding: 30px;
	width: 1000px;
    height:600px;
	
}

.contents {
	text-align: center;
	margin: opx auto;
}

input[type=text],[type=password]{
	width:200px;
	height:20px;
	font-size: 70%;
}

#logo {
	height: 250px;
	width: 250px;
}

.textsize {
	font-size: 25px;
	display: inline-block;
	text-align: right;
}

.send {
	width: 100px;
	height: 30px;
}

.logouttext {
	font-size: 25px;
	padding: 40px;
}

.alert {
	color: red;
	font-size: 20px;
}

.sign {
	font-size: 25px;
}

.register {
	margin-right: 300px;
	float: right;
}

.return {
	margin-left: 300px;
	float: left;
	
}