@charset "UTF-8";

body {
	background-color: #ffbbbb;
	text-align: center;
}

.header {
	
	background-color: #ffaaaa;
	top: 0;
	left: 0;
	height: 100px;
	
}

.footer {
	
	background-color: #ffaaaa;
	bottom: 0;
	left: 0;
	height: 100px;
	
}